@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #999 !important;
} */

.upload-box {
  font-size: 14px;
  color: #13315c;
  background: #cccccc;
  border-radius: 10px;
  border: 2px solid #13315c;
  box-shadow: 5px 5px 8px #cccccc;
  margin: 10px 0;
  width: 250px;
  outline: none;
}
::-webkit-file-upload-button {
  color: #cccccc;
  background: #13315c;
  padding: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 8px #cccccc;
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
}
